body
{
  padding: 1em;
}

p
{
  max-width:   40em;
  width:       40em;
  text-align:  justify;
}

pre
{
  margin-left: 1em;
}

th
{
  text-align: left;
  padding-bottom: 0.5em;
}

td
{
  padding-right: 2em;
}

.zb_post
{
  margin-bottom: 2em;
  max-width:     40em;
  width:         40em;
}

.zb_post_date
{
  font-weight: bold;
}

.zb_post_title
{
  margin-left: 1em;
}

.zb_post_foot
{
  text-align: right;
}

#zb_footer
{
  margin-top: 2em;
}

#zb_footer_links
{
  margin-bottom: 1em;
}
